.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  font-size: 18px;
  color: grey;
  font-weight: 400;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}


.home-section {
  display: flex;
  flex-direction: column;
  float: left;
  margin: 0;
  padding: 0;
}

.sections {
  border: 0.1px solid;
}

.sections img {
  max-width: 99vw;
}

.info-section {
  max-width: 90vw;
  text-align: center;
  padding: 1vh 2vw 3vh;
}

.header-bar {
  height: 6vh;
  background-color: rgb(16, 237, 253);
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5vh 0.5vw;
  position: fixed;
  width: 100%;

}

.icon-home {
  font-size: 30px;
  margin: 0 auto;
  color: white;
}

